In [1]:
import numpy as np
import pandas as pd
import string
import re

In [11]:
with open('businessCard.txt',mode='r',encoding='utf8',errors='ignore') as f:
    text = f.read()

In [15]:
data = list(map(lambda x:x.split('\t'),text.split('\n')))

In [17]:
df = pd.DataFrame(data[1:],columns=data[0])

In [19]:
df.head(10)

         id                       text      tag
0  000.jpeg                                   O
1  000.jpeg                          .        O
2  000.jpeg                   040-4852  B-PHONE
3  000.jpeg                    "8881,"  I-PHONE
4  000.jpeg                      90309  B-PHONE
5  000.jpeg                      52549  I-PHONE
6  000.jpeg                         Fi        O
7  000.jpeg  /laurelsoverseaseducation        O
8  000.jpeg                         @:        O
9  000.jpeg                    LAURELS    B-ORG

### Cleaning Text
- Remove white space
- Remove Unwanted special characters